scipy~=1.8.0
numpy~=1.22.2
matplotlib~=3.2.2
opencv-python~=4.5.5.62
tensorflow-gpu~=2.8.0
tqdm~=4.62.3
Pillow~=9.0.1
h5py==2.10.0
labelme~=3.16.7
keras~=2.8.0
pandas~=1.4.1
geopandas~=0.10.2
shapely~=1.8.2
exifread~=3.0.0